@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1B1B1B;
}

.bggradient{
  background: 
  linear-gradient(180deg, rgba(215, 33, 66, 0) 0%, rgba(215, 33, 66, 0.5) 100%);
}

.bglines{
  opacity: 15%;
  background:
  repeating-linear-gradient(
    -20deg,
    transparent 5px,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 10px,
    transparent 14px
  );
}

.backgroundglow {
  background-image: 
    url('/images/bgglow.png');
  background-size: fill;
  background-position: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 1px;
  background-color: #3FFE9E;
  transition: .4s;
  border: 2px solid #23C372
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.usdtselected{
  transition: filter 0.3s, box-shadow 0.3s;
  filter: drop-shadow(0 0 20px aqua);
}

.ltcselected{
  transition: filter 0.3s, box-shadow 0.3s;
  filter: drop-shadow(0 0 10px #A8A8A8);
}

.ethselected{
  transition: filter 0.3s, box-shadow 0.3s;
  filter: drop-shadow(0 0 20px #798EFF);
}

.btcselected{
  transition: filter 0.3s, box-shadow 0.3s;
  filter: drop-shadow(0 0 10px #F7931A);
}

.scrollbar{
  scrollbar-width: thin;
  scrollbar-color: #4A4A4A #222222;
}

@media (min-width: 800px){
  .cards-container{
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1025px){
  .cards-container{
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1137px){
  .cards-container{
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1300px){
  .cards-container{
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1400px){
  .cards-container{
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1600px){
  .cards-container{
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1800px){
  .cards-container{
    grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  }
}

.animate-text-up {
  animation: text-up 0.25s ease forwards;
}

@keyframes text-up {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-5px);
    opacity: 1;
  }
}